# Preprocessing

#### Stage 1: Import relevant modules.

In [1]:
import pandas as pd

#### Stage 2: Upload data files (.csv) into the environment as a dataframe.

In [2]:
# gets absolute path of current directory

# reads .csv file(s) data then stores it as a dataframe
dfCOA111 = pd.read_csv('cop504cwdata/22COA111ModuleRegister.csv')
dfCOA122 = pd.read_csv('cop504cwdata/22COA122ModuleRegister.csv')

In [3]:
dfCOA111

,sid_x,S1.W1\nMonday (03-10-2022)\n09:00 - 10:00\nLecture\nU020\n,S1.W1\nWednesday (05-10-2022)\n10:00 - 11:00\nLecture\nSMB014\n,S1.W2\nWednesday (12-10-2022)\n10:00 - 11:00\nLecture\nSMB014\n,S1.W2\nWednesday (12-10-2022)\n12:00 - 13:00\nTutorial\n\n,S1.W2\nThursday (13-10-2022)\n14:00 - 15:00\nLecture\nCC011\n,S1.W3\nWednesday (19-10-2022)\n10:00 - 11:00\nLecture\nSMB014\n,S1.W3\nWednesday (19-10-2022)\n12:00 - 13:00\nTutorial\n\n,S1.W3\nThursday (20-10-2022)\n14:00 - 15:00\nLecture\nCC011\n,S1.W4\nWednesday (26-10-2022)\n10:00 - 11:00\nLecture\nSMB014\n,S1.W4\nWednesday (26-10-2022)\n12:00 - 13:00\nTutorial\n\n,S1.W4\nThursday (27-10-2022)\n14:00 - 15:00\nLecture\nCC011\n,S1.W5\nWednesday (02-11-2022)\n10:00 - 11:00\nLecture\nSMB014\n,S1.W5\nWednesday (02-11-2022)\n12:00 - 13:00\nTutorial\n\n,S1.W5\nThursday (03-11-2022)\n14:00 - 15:00\nLecture\nCC011\n
0,0,GPS,GPS,X,NaN,GPS,GPS,NaN,GPS,GPS,NaN,X,X,NaN,X
1,1,GPS,GPS,GPS,NaN,GPS,GPS,NaN,GPS,GPS,NaN,GPS,GPS,NaN,GPS
2,2,GPS,GPS,GPS,NaN,X,X,NaN,GPS,X,NaN,GPS,X,NaN,X
3,3,NaN,NaN,GPS,NaN,GPS,X,NaN,GPS,X,NaN,GPS,X,NaN,GPS
4,4,GPS,X,X,NaN,GPS,X,NaN,GPS,X,NaN,GPS,X,NaN,GPS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,238,X,X,GPS,NaN,GPS,X,NaN,GPS,GPS,NaN,GPS,GPS,NaN,GPS
232,239,GPS,X,GPS,NaN,GPS,GPS,NaN,GPS,GPS,NaN,GPS,GPS,NaN,X
233,240,GPS,GPS,GPS,NaN,GPS,X,NaN,GPS,GPS,NaN,GPS,GPS,NaN,GPS
234,241,GPS,GPS,GPS,NaN,GPS,GPS,NaN,GPS,GPS,NaN,GPS,GPS,NaN,GPS
235,242,X,X,X,NaN,X,X,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dfCOA122

,sid,S1.W1\nMonday (03-10-2022)\n14:00 - 16:00\nLecture\nCC012\n,S1.W1\nThursday (06-10-2022)\n09:00 - 11:00\nComputer Lab\nN001...\n,S1.W1\nThursday (06-10-2022)\n11:00 - 13:00\nComputer Lab\nN001...\n,S1.W2\nMonday (10-10-2022)\n14:00 - 16:00\nLecture\nCC012\n,S1.W2\nThursday (13-10-2022)\n09:00 - 11:00\nComputer Lab\nN001...\n,S1.W2\nThursday (13-10-2022)\n11:00 - 13:00\nComputer Lab\nN001...\n,S1.W3\nMonday (17-10-2022)\n14:00 - 16:00\nLecture\nCC012\n,S1.W3\nThursday (20-10-2022)\n09:00 - 11:00\nComputer Lab\nN001...\n,S1.W3\nThursday (20-10-2022)\n11:00 - 13:00\nComputer Lab\nN001...\n,S1.W4\nMonday (24-10-2022)\n14:00 - 16:00\nLecture\nCC012\n,S1.W4\nThursday (27-10-2022)\n09:00 - 11:00\nComputer Lab\nN001...\n,S1.W4\nThursday (27-10-2022)\n11:00 - 13:00\nComputer Lab\nN001...\n,S1.W4\nFriday (28-10-2022)\n12:00 - 13:00\nPersonal Best\nCC011\n,S1.W5\nMonday (31-10-2022)\n14:00 - 16:00\nLecture\nCC012\n,S1.W5\nTuesday (01-11-2022)\n10:00 - 11:00\nDrop in session\nWAV001\n[Excluded],S1.W5\nTuesday (01-11-2022)\n10:00 - 11:00\nDrop in session\nWAV001\n[Excluded].1,S1.W5\nThursday (03-11-2022)\n09:00 - 11:00\nTest\nN001...\n,S1.W5\nThursday (03-11-2022)\n11:00 - 13:00\nTest\nN001...\n,S1.W6\nMonday (07-11-2022)\n14:00 - 16:00\nLecture\nCC012\n
0,0,GPS,GPS,NaN,GPS,X,NaN,X,X,NaN,GPS,X,NaN,X,X,NaN,NaN,GPS,NaN,X
1,1,GPS,GPS,NaN,GPS,GPS,NaN,GPS,GPS,NaN,GPS,GPS,NaN,GPS,GPS,NaN,NaN,GPS,NaN,GPS
2,2,GPS,GPS,NaN,GPS,GPS,NaN,GPS,GPS,NaN,GPS,X,NaN,X,X,NaN,NaN,GPS,NaN,GPS
3,3,NaN,NaN,NaN,NaN,X,X,X,NaN,GPS,X,NaN,GPS,GPS,GPS,NaN,NaN,NaN,GPS,GPS
4,4,GPS,GPS,NaN,GPS,X,NaN,GPS,X,NaN,Ex,Ex,NaN,GPS,GPS,NaN,NaN,X,NaN,GPS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,238,X,X,NaN,GPS,GPS,NaN,GPS,GPS,NaN,GPS,X,NaN,GPS,GPS,NaN,NaN,GPS,NaN,GPS
232,239,GPS,GPS,NaN,GPS,GPS,NaN,GPS,X,NaN,X,GPS,NaN,GPS,GPS,NaN,NaN,GPS,NaN,X
233,240,GPS,NaN,GPS,GPS,NaN,GPS,GPS,NaN,GPS,GPS,NaN,GPS,GPS,GPS,NaN,NaN,NaN,GPS,GPS
234,241,GPS,GPS,NaN,GPS,GPS,NaN,GPS,GPS,NaN,GPS,GPS,NaN,GPS,GPS,NaN,NaN,X,NaN,GPS
235,242,X,NaN,X,X,NaN,NaN,X,NaN,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# creates copy to make module sessions data frame
dfCOA111Copy = dfCOA111
dfCOA122Copy = dfCOA122

# removes student ID for new 'dfCOA122Sessions' and 'dfCOA111Sessions' dataframe
dfCOA111Copy.drop('sid_x', axis = 1, inplace = True)
dfCOA122Copy.drop('sid', axis = 1, inplace = True)

#### Stage 3: Create dfCOA122Sessions and dfCOA111Sessions dataframes.

In [6]:
############################# FUNCTIONS #############################

def splitColumnHeading(df, deliminator, initColumnName, newColumns):
    sessionInfo = df.columns.str.split(deliminator) # splits column headings by newline
    dfSessionInfo = pd.DataFrame(sessionInfo, columns=[initColumnName]) # stores the list of column information into a new data frame

    dfNew = dfSessionInfo[initColumnName].apply(pd.Series) 
    dfNew.columns = newColumns # creates new columns based on each value in the list 
    return dfNew

def splitColumnInfo(df, newColumns, columnToSplit, deliminator):
    df[newColumns] = df[columnToSplit].str.split(deliminator, expand = True)
    return df

def removeChars(df, columnName, deliminator):
    df[columnName] = df[columnName].str.strip(deliminator)
    return df

def formatForDatetime(df, date, times): # NOTE: 'times' list is in '%H:%M' format
    for time in times:
        df[time] = df[date] + ' ' + df[time].str.strip() + ':00'
    return df 

######################################################################

    3.a: Store the details of each session (found in the column heading) into new dataframes.

In [7]:
newSessionColumns = ['Semester_Week', 'Date', 'Time', 'Lecture_Type', 'Room_ID', 'TO_DELETE']
initColumn = 'SessionInfo'
delim = '\n'

dfCOA111Sessions =  splitColumnHeading(dfCOA111Copy, delim, initColumn, newSessionColumns)
dfCOA122Sessions = splitColumnHeading(dfCOA122Copy,  delim, initColumn, newSessionColumns)

    3.b: Split the column values into more distinct columns.

In [8]:
newColumns = [['Semester','Week'], ['Day','Date'], ['Start_Time', 'End_Time']]
oldColumns = ['Semester_Week', 'Date', 'Time']
delims = ['.', ' ', '-'] 

for col in range(len(oldColumns)):
    splitColumnInfo(dfCOA111Sessions, newColumns[col], oldColumns[col], delims[col])
    splitColumnInfo(dfCOA122Sessions, newColumns[col], oldColumns[col], delims[col])

    3.c: Remove deliminators/redundant characters from column values.

In [9]:
columns = ['Date', 'Date', 'Semester', 'Week']
delims = ['(', ')', 'S', 'W']

for col in range(len(columns)):
    removeChars(dfCOA111Sessions, columns[col], delims[col])
    removeChars(dfCOA122Sessions, columns[col], delims[col])

# For dfCOA122Sessions '...' from the end of 'NOO1' must also be removed
removeChars(dfCOA122Sessions, 'Room_ID', '...')

,Semester_Week,Date,Time,Lecture_Type,Room_ID,TO_DELETE,Semester,Week,Day,Start_Time,End_Time
0,S1.W1,03-10-2022,14:00 - 16:00,Lecture,CC012,,1,1,Monday,14:00,16:00
1,S1.W1,06-10-2022,09:00 - 11:00,Computer Lab,N001,,1,1,Thursday,09:00,11:00
2,S1.W1,06-10-2022,11:00 - 13:00,Computer Lab,N001,,1,1,Thursday,11:00,13:00
3,S1.W2,10-10-2022,14:00 - 16:00,Lecture,CC012,,1,2,Monday,14:00,16:00
4,S1.W2,13-10-2022,09:00 - 11:00,Computer Lab,N001,,1,2,Thursday,09:00,11:00
5,S1.W2,13-10-2022,11:00 - 13:00,Computer Lab,N001,,1,2,Thursday,11:00,13:00
6,S1.W3,17-10-2022,14:00 - 16:00,Lecture,CC012,,1,3,Monday,14:00,16:00
7,S1.W3,20-10-2022,09:00 - 11:00,Computer Lab,N001,,1,3,Thursday,09:00,11:00
8,S1.W3,20-10-2022,11:00 - 13:00,Computer Lab,N001,,1,3,Thursday,11:00,13:00
9,S1.W4,24-10-2022,14:00 - 16:00,Lecture,CC012,,1,4,Monday,14:00,16:00
10,S1.W4,27-10-2022,09:00 - 11:00,Computer Lab,N001,,1,4,Thursday,09:00,11:00
11,S1.W4,27-10-2022,11:00 - 13:00,Computer Lab,N001,,1,4,Thursday,11:00,13:00
12,S1.W4,28-10-2022,12:00 - 13:00,Personal Best,CC011,,1,4,Friday,12:00,13:00
13,S1.W5,31-10-2022,14:00 - 16:00,Lecture,CC012,,1,5,Monday,14:00,16:00
14,S1.W5,01-11-2022,10:00 - 11:00,Drop in session,WAV001,[Excluded],1,5,Tuesday,10:00,11:00
15,S1.W5,01-11-2022,10:00 - 11:00,Drop in session,WAV001,[Excluded].1,1,5,Tuesday,10:00,11:00
16,S1.W5,03-11-2022,09:00 - 11:00,Test,N001,,1,5,Thursday,09:00,11:00
17,S1.W5,03-11-2022,11:00 - 13:00,Test,N001,,1,5,Thursday,11:00,13:00
18,S1.W6,07-11-2022,14:00 - 16:00,Lecture,CC012,,1,6,Monday,14:00,16:00

    3.d: Reformat 'Start_Time' and 'End_Time' into datetime format.

In [10]:
oldFormatColumns = ['Start_Time', 'End_Time']
dateColumn = 'Date'

dfCOA111Sessions = formatForDatetime(dfCOA111Sessions, dateColumn, oldFormatColumns)
dfCOA122Sessions = formatForDatetime(dfCOA122Sessions, dateColumn, oldFormatColumns)

    3.e: Add column name 'Session Number' and remove redundant columns.

In [11]:
dfCOA111Sessions['Session_Number'] = dfCOA111Sessions.index + 1 # Since session numbers do not start from 0
dfCOA122Sessions['Session_Number'] = dfCOA122Sessions.index + 1

toRemove = ['Semester_Week', 'Date', 'Time', 'TO_DELETE']
dfCOA111Sessions.drop(toRemove, axis = 1, inplace = True) 
dfCOA122Sessions.drop(toRemove, axis = 1, inplace = True)

    3.f: Correct all column data types.

In [12]:
toDatetime = ['Start_Time', 'End_Time']
toInteger = ['Semester', 'Week', 'Session_Number']
toString = ['Lecture_Type', 'Room_ID', 'Day']

# Datetime
for col in toDatetime:
    dfCOA111Sessions[col] = pd.to_datetime(dfCOA111Sessions[col])
    dfCOA122Sessions[col] = pd.to_datetime(dfCOA122Sessions[col])

# Integers
for col in toInteger:
    dfCOA111Sessions[col] = pd.to_numeric(dfCOA111Sessions[col], downcast ='integer') 
    dfCOA122Sessions[col] = pd.to_numeric(dfCOA122Sessions[col], downcast ='integer') 

#Strings
dfCOA111Sessions[toString] = dfCOA111Sessions[toString].astype('string')
dfCOA122Sessions[toString] = dfCOA122Sessions[toString].astype('string')

    3.g: Check data type of columns of each data frame.

In [13]:
print('dfCOA111Sessions:\n', dfCOA111Sessions.dtypes, '\n\n', 'dfCOA122Sessions:\n', dfCOA122Sessions.dtypes)

dfCOA111Sessions:
 Lecture_Type              string
Room_ID                   string
Semester                    int8
Week                        int8
Day                       string
Start_Time        datetime64[ns]
End_Time          datetime64[ns]
Session_Number              int8
dtype: object

 dfCOA122Sessions:
 Lecture_Type              string
Room_ID                   string
Semester                    int8
Week                        int8
Day                       string
Start_Time        datetime64[ns]
End_Time          datetime64[ns]
Session_Number              int8
dtype: object

    3.h: Display final dfCOA111Sessions and dfCOA122Sessions

In [14]:
dfCOA111Sessions

,Lecture_Type,Room_ID,Semester,Week,Day,Start_Time,End_Time,Session_Number
0,Lecture,U020,1,1,Monday,2022-03-10 09:00:00,2022-03-10 10:00:00,1
1,Lecture,SMB014,1,1,Wednesday,2022-05-10 10:00:00,2022-05-10 11:00:00,2
2,Lecture,SMB014,1,2,Wednesday,2022-12-10 10:00:00,2022-12-10 11:00:00,3
3,Tutorial,,1,2,Wednesday,2022-12-10 12:00:00,2022-12-10 13:00:00,4
4,Lecture,CC011,1,2,Thursday,2022-10-13 14:00:00,2022-10-13 15:00:00,5
5,Lecture,SMB014,1,3,Wednesday,2022-10-19 10:00:00,2022-10-19 11:00:00,6
6,Tutorial,,1,3,Wednesday,2022-10-19 12:00:00,2022-10-19 13:00:00,7
7,Lecture,CC011,1,3,Thursday,2022-10-20 14:00:00,2022-10-20 15:00:00,8
8,Lecture,SMB014,1,4,Wednesday,2022-10-26 10:00:00,2022-10-26 11:00:00,9
9,Tutorial,,1,4,Wednesday,2022-10-26 12:00:00,2022-10-26 13:00:00,10
10,Lecture,CC011,1,4,Thursday,2022-10-27 14:00:00,2022-10-27 15:00:00,11
11,Lecture,SMB014,1,5,Wednesday,2022-02-11 10:00:00,2022-02-11 11:00:00,12
12,Tutorial,,1,5,Wednesday,2022-02-11 12:00:00,2022-02-11 13:00:00,13
13,Lecture,CC011,1,5,Thursday,2022-03-11 14:00:00,2022-03-11 15:00:00,14

In [15]:
dfCOA122Sessions

,Lecture_Type,Room_ID,Semester,Week,Day,Start_Time,End_Time,Session_Number
0,Lecture,CC012,1,1,Monday,2022-03-10 14:00:00,2022-03-10 16:00:00,1
1,Computer Lab,N001,1,1,Thursday,2022-06-10 09:00:00,2022-06-10 11:00:00,2
2,Computer Lab,N001,1,1,Thursday,2022-06-10 11:00:00,2022-06-10 13:00:00,3
3,Lecture,CC012,1,2,Monday,2022-10-10 14:00:00,2022-10-10 16:00:00,4
4,Computer Lab,N001,1,2,Thursday,2022-10-13 09:00:00,2022-10-13 11:00:00,5
5,Computer Lab,N001,1,2,Thursday,2022-10-13 11:00:00,2022-10-13 13:00:00,6
6,Lecture,CC012,1,3,Monday,2022-10-17 14:00:00,2022-10-17 16:00:00,7
7,Computer Lab,N001,1,3,Thursday,2022-10-20 09:00:00,2022-10-20 11:00:00,8
8,Computer Lab,N001,1,3,Thursday,2022-10-20 11:00:00,2022-10-20 13:00:00,9
9,Lecture,CC012,1,4,Monday,2022-10-24 14:00:00,2022-10-24 16:00:00,10
10,Computer Lab,N001,1,4,Thursday,2022-10-27 09:00:00,2022-10-27 11:00:00,11
11,Computer Lab,N001,1,4,Thursday,2022-10-27 11:00:00,2022-10-27 13:00:00,12
12,Personal Best,CC011,1,4,Friday,2022-10-28 12:00:00,2022-10-28 13:00:00,13
13,Lecture,CC012,1,5,Monday,2022-10-31 14:00:00,2022-10-31 16:00:00,14
14,Drop in session,WAV001,1,5,Tuesday,2022-01-11 10:00:00,2022-01-11 11:00:00,15
15,Drop in session,WAV001,1,5,Tuesday,2022-01-11 10:00:00,2022-01-11 11:00:00,16
16,Test,N001,1,5,Thursday,2022-03-11 09:00:00,2022-03-11 11:00:00,17
17,Test,N001,1,5,Thursday,2022-03-11 11:00:00,2022-03-11 13:00:00,18
18,Lecture,CC012,1,6,Monday,2022-07-11 14:00:00,2022-07-11 16:00:00,19

#### Stage 4: Cleaning dfCOA11 and dfCOA122 i.e., dfCOA111Clean and dfCOA122Clean

# Testing 
Number of test cases: 5  
Passed:  
Failed:

In [16]:
# Test case (1)